.main {
    padding: 20px;
    margin: 0;
    width: 100vw;
    padding-bottom: 80px;
}

.pageTitle {
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

.subTitle {
    font-size: 14px;
    color: #888;
}

.subTitle-link {
    color: #0077cc;
    cursor: pointer;
}

.inputContainer {
    display: flex;
    margin-top: 20px;
   
}

.searchBox {
    width: 100%;
    background-color: white;
    padding: 0px 5px;
    height: 45px;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    
} 


.bannerCard {
    margin-top: 25px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

 .bannerImage {
    width: 100%;
    height: 200px;

} 

.bannerText {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

.categoriesContainer{
    margin-top: 10px;
    margin-left: 5px;
}
.categoriesText{
    font-weight: bold;
    font-size: 15px;
}

.servicesRow {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 1px;
}

.serviceCard {
    width: 33.3%;
    justify-items: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.icon {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.icon1{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 50%;
    
}
.icon1.activeCard {
  border: 2px solid #00bfff;
  background-color: rgba(0, 191, 255, 0.1);
  
}
.serviceText {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.allCards {
    background-color: white;
    width: 100%;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.allCards-text {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #333;
    text-align: center;
}

.propertyImage {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin: 0 10px 10px 0;
}
.propertyImage1{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    margin: 0 10px 10px 0;
}

.allCards-p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 5px;

}

.viewMore {
    margin-top: 10px;
}

.viewText {
    font-size: 14px;
    color: #0077cc;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
}

.sideCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 25px;
}



.allCards-side {
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.allCards1 {
    background-color: white;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 100px; /* Changed from 700px */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.locationList {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.locationBox {
  display: flex; 
  justify-content: center; 
  align-items: center;     
  height: 40px;
  width: 100px;
  background-color: white; 
  /* background-color: #00bfff; */
  border-radius: 7px;
}

.locationText {
  color: black;
  font-weight: bold;
  text-align: center;
}

.activeLocationBox {
  background-color: #00bfff;
  color: white; 
}

