page {
    margin: 0;
    padding: 20px;
    align-items: center;
}


.cards {
    padding: 20px;
    border-radius: 8px;
   width: 100%;
   background: linear-gradient(to right, #e0eafc, #cfdef3);
   top: 30%;
   }


.popup-text {
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}


.inputText {
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}



.inputView {
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-radius: 7px;
}

.inputBox {
    width: 100%;
    padding: 0px 5px;
}

.inputPassword {
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-radius: 7px;
    margin-bottom: 10px;
}

.loginButton {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    background: #00bfff;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.loginText {
    text-align: center;
    font-size: 20px;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
}

.footerText {
    color: black;
}

.footerRef {
    color: #4ba1e7;
    font-weight: bold;
    text-decoration: underline;
}

.passwordForgot {
    justify-content: start;
}