:root {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  --color-text: #fff;
}

/* .Background {
  position: fixed;
  background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
  width: 200vw;
  height: 180vw;
  top: -60vw;
  left: -14.27vw;
  transform: rotate(15.25deg);
} */

.buttonTap{
  color: white;
  font-size: 20px;
  font-family: CustomFont;
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

text {
  color: var(--color-text);
}

.Banner {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}



@keyframes Logo--spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes Logo--shake {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Arrow {
  width: 54px;
  height: 44px;
}

.Title {
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

.Subtitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.Description {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.85);
  margin: 15rpx;
  font-family: 'CustomFont';
}

.Hint {
  font-size: 12px;
  margin: 5px;
  color: rgba(255, 255, 255, 0.65);
  margin-bottom: 45px;
}

.button {
  color: green;
  font-weight: bold;
  width: 200px;
  height: 50px;
  padding: 20px;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}

@font-face {
  font-family: 'CustomFont';
  src: url('./assets/2Eb5L_R5IXJEWhD3AOhSvFC554MOOahI4mRIi_28c8bHWA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CustomFont';
}